.book-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
}

.book-card {
  flex: 1 1 calc(20% - 16px); /* 5 cards per row */
  max-width: calc(20% - 16px);
  min-width: 180px; /* Ensures the card doesn't get too small */
  box-sizing: border-box;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.book-card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.book-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.book-title {
  font-size: large;
  font-weight: 500;
  margin-bottom: 8px;
}

.book-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.book-rating .fa-star {
    margin-right: 2px; /* Adjust the value as needed for spacing */
  }
.book-rating span {
  margin-left: 4px;
  color: #888;
}

.wishlist-icon {
  font-size: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #888;
}

.wishlist-icon.red {
  color: #1bb39e;
}

/* Media Queries */
@media (max-width: 1200px) {
  .book-card {
    flex: 1 1 calc(25% - 16px); /* 4 cards per row */
  }
}

@media (max-width: 992px) {
  .book-card {
    flex: 1 1 calc(33.33% - 16px); /* 3 cards per row */
  }
}

@media (max-width: 768px) {
  .book-card {
    flex: 1 1 calc(50% - 16px); /* 2 cards per row */
  }
}

@media (max-width: 576px) {
  .book-card {
    flex: 1 1 calc(100% - 16px); /* 1 card per row */
  }
}
